/* CSS */



.button-back {
  appearance: button;
  background-color: #00ADB5;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  height: 100%;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.card-shadow{
  background:#FAD6A5;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: #567189;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;

 }
 
 .shadow {
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
              0 0  0 2px rgb(190, 190, 190),
              0.3em 0.3em 1em rgba(0,0,0,0.3);
 }


 .dashboard-button{
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #567189;
  color: #fff;
  background-color: #5E5E5E;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-weight: 900;
  font-size: 32px;
  width:100%;
  margin-top: 5%;
 }

 .dashboard-button:hover{
  background: #508991;
  color: #004346;
}

.question-card{
  color: lightgray;
  background: rgb(44,95,205);
  background: linear-gradient(0deg, rgba(44,95,205,1) 0%, rgba(152,79,173,1) 100%);
}

.question-card-header{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 2px solid black;
  padding: 5%;
}

.question-headline{
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  padding: 2%;
  font-weight: 900;
  font-size: 32px;

  margin-top: 5%;
  color: #1b232a;
}

.question-card-body{
  padding: 5%;
}

footer {
  position: fixed;
  background-color: #EEEEEE;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  text-align: center;
}

.submit-button {
  appearance: none;
  background-color: #00ADB5;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.submit-button:disabled {
  pointer-events: none;
}

.submit-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.submit-button:active {
  box-shadow: none;
  transform: translateY(0);
}
 